{% extends ':Theme:two-column.html.twig' %}

{% block content -%}
    <h2>Ubah User</h2>
    <hr>
	    	    <div class="row">
    <div class="col-md-6">
        <a href="{{ path('manage_user') }}" class="btn btn-info">Kembali Kedaftar</a>
    </div>
    <div class="col-md-6 text-right">
                                                <button class="btn btn-danger" data-toggle="modal" data-target="#modalHapus">
                    Hapus Data
                </button>
                        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalHapus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Anda yakin mau menghapus data ? </h4>
      </div>
            <div class="modal-footer text-center">
        <div class="col-md-6 text-left"><button type="button" class="btn btn-default" data-dismiss="modal">No</button></div>
        <div class="col-md-6">{{ form(delete_form) }}</div>
      </div>
    </div>
  </div>
</div>

    <hr>

    {{ form(edit_form) }}

{% endblock %}
